<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<display-name>EchoServlet</display-name>
		<servlet-name>EchoServlet</servlet-name>
		<servlet-class>jodd.http.fixture.EchoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EchoServlet</servlet-name>
		<url-pattern>/echo</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>Echo2Servlet</display-name>
		<servlet-name>Echo2Servlet</servlet-name>
		<servlet-class>jodd.http.fixture.Echo2Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Echo2Servlet</servlet-name>
		<url-pattern>/echo2</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>Echo3Servlet</display-name>
		<servlet-name>Echo3Servlet</servlet-name>
		<servlet-class>jodd.http.fixture.Echo3Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Echo3Servlet</servlet-name>
		<url-pattern>/echo3</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>TargetServlet</display-name>
		<servlet-name>TargetServlet</servlet-name>
		<servlet-class>jodd.http.fixture.TargetServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TargetServlet</servlet-name>
		<url-pattern>/target</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>RedirectServlet</display-name>
		<servlet-name>RedirectServlet</servlet-name>
		<servlet-class>jodd.http.fixture.RedirectServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>SlowServlet</display-name>
		<servlet-name>SlowServlet</servlet-name>
		<servlet-class>jodd.http.fixture.SlowServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SlowServlet</servlet-name>
		<url-pattern>/slow</url-pattern>
	</servlet-mapping>

</web-app>