<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!--listeners-->
	<listener>
		<listener-class>jodd.servlet.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>jodd.servlet.HttpSessionListenerBroadcaster</listener-class>
	</listener>

	<!-- filters -->
	<filter>
		<filter-name>lagarto</filter-name>
		<filter-class>madvoc.filter.AppLagartoServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>lagarto</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>decora</filter-name>
		<filter-class>jodd.decora.DecoraServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>decora</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>madvoc</filter-name>
		<filter-class>jodd.madvoc.MadvocServletFilter</filter-class>
		<init-param>
			<param-name>madvoc.webapp</param-name>
			<param-value>madvoc.MyWebApplication</param-value>
		</init-param>
		<init-param>
			<param-name>madvoc.configurator</param-name>
			<param-value>madvoc.MySimpleConfigurator</param-value>
		</init-param>
		<init-param>
			<param-name>madvoc.params</param-name>
			<param-value>/madvoc*.properties</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>madvoc</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<!--<dispatcher>FORWARD</dispatcher>-->
	</filter-mapping>
	
	<!-- servlet -->
	<servlet>
		<servlet-name>jodd-html-stapler</servlet-name>
		<servlet-class>jodd.lagarto.adapter.htmlstapler.HtmlStaplerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jodd-html-stapler</servlet-name>
		<url-pattern>/jodd-bundle</url-pattern>
	</servlet-mapping>

	<!-- config -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>

	<welcome-file-list>
		<welcome-file>redirect.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
