<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%level %logger %class %method %line - %msg %n</pattern>
		</encoder>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
